.container.top-padding-med
  table.table.table-hover.table-striped.table-condensed
    thead
      tr
        th Name
        th Content
        th Created
        th Modified
        th id (docasne)
    tbody
      tr(ng-repeat="note in notes")
        td
          a(href="/notes/{{note._id}}") {{note.noteName}}
        td
          textarea.form-control(name="noteContent", type="textarea", rows="3", placeholder="Content", ng-model="note.noteContent", required) {{note.noteContent}}
        td
          {{note.dateCreated | date}}
        td
          {{note.dateModified | date}}
        td
          {{note._id}}
        td
          button.btn.btn-primary(ng-click="deleteOldNote(note._id)", ) Delete
        td
          button.btn.btn-primary(ng-click="editOldNote(note)", ) Save edit