.container
  .well
    form.form-horizontal(name="createNoteForm")
      fieldset
        legend Enter new note
        .form-group
          label.col-md-2.control-label(for="noteName") Name
          .col-md-8
            input.form-control(name="noteName", type="text", placeholder="Name", ng-model="noteName", required)
        .form-group
          label.col-md-2.control-label(for="noteContent") Content
          .col-md-8
            textarea.form-control(name="noteContent", type="textarea", rows="2", placeholder="Content", ng-model="noteContent", required)
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="createNewNote()", ng-disabled="createNoteForm.$invalid") Add note
              | &nbsp;
              a.btn.btn-default(ng-click="cleanInputs()") Cancel
.container.top-padding-med
  table.table.table-hover.table-striped.table-condensed
    thead
      tr
        th Name
        th Content
        th Created
        th Modified
        th id (docasne)
    tbody
      tr(ng-repeat="note in notes")
        td
          a(href="/notes/{{note._id}}") {{note.noteName}}
        td
          textarea.form-control(name="noteContent", type="textarea", rows="3", placeholder="Content", ng-model="note.noteContent", required) {{note.noteContent}}
        td
          {{note.dateCreated | date}}
        td
          {{note.dateModified | date}}
        td
          {{note._id}}
        td
          button.btn.btn-primary(ng-click="deleteOldNote(note._id)", ) Delete
        td
          button.btn.btn-primary(ng-click="editOldNote(note)", ) Save edit