//
   Created by Jan on 6/11/2014.

.container
  h1 course application id: {{courseAppl._id}}
  h3 Published on {{courseAppl.signed | date}}
  .row
    .col-md-6
      h3 courseId(fail nazev, change to parent or sth)
      p courseId {{courseAppl.courseId._id}}
      p course title {{courseAppl.courseId.title}}
      p featured {{courseAppl.courseId.featured}}
      p published {{courseAppl.courseId.published | date:'medium'}}
      div(ng-repeat="tag in courseAppl.courseId.tags") {{tag}}

