.container
  .panel.panel-primary
    .panel-heading Course Application Info
    .panel-body
      h1 id: {{courseAppl._id}}
      h3 signed: {{courseAppl.signed | date}}
  .panel.panel-primary
    .panel-heading Course Info
    .panel-body
      p id: {{courseAppl.courseParent._id}}
      p course title: {{courseAppl.courseParent.title}}
      p featured: {{courseAppl.courseParent.featured}}
      p published: {{courseAppl.courseParent.published | date:'medium'}}
      p Tags:&nbsp
        span(ng-repeat="tag in courseAppl.courseParent.tags"){{tag}} &nbsp