//
   Created by Jan on 6/11/2014.
.container.top-padding-med
  table.table.table-hover.table-striped.table-condensed
    thead
      tr
        th CourseApplId
        th Signed Date
    tbody
      tr(ng-repeat="courseAppl in courseAppls")
        td
          a(href="/course-appls/{{courseAppl._id}}") {{courseAppl._id}}
        td {{courseAppl.signed | date}}
        td course name {{courseAppl.courseParent.title}}