.container
  .jumbotron
    h1 Training lounge
    p Welcome to Training lounge! Get better by real hands-on practice..

  .row
    .col-md-6
      div(ng-include="'/partials/main/vFeatured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/vNew-courses'")