.container
  .jumbotron
    h1 MEAN Sports
    p Welcome to MEAN Sports! Get better at..

  .row
    .col-md-6
      div(ng-include="'/partials/main/vFeatured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/vNew-courses'")